:root {
    --dark-bg-color: rgb(24, 26, 40);
    --dark-text-color: rgb(247, 230, 255);
    --dark-text-glow-color: rgb(213, 154, 255);
    --dark-skill-bg-color: rgb(9, 19, 39);

    --light-bg-color: rgb(255, 239, 235);
    --light-text-color: rgb(114, 69, 6);
    --light-text-glow-color: rgb(255, 125, 140);
    --light-skill-bg-color: rgb(255, 219, 233);

    --bg-color: var(--dark-bg-color);
    --text-color: var(--dark-text-color);
    --text-glow-color:var(--dark-text-glow-color);
    --skill-bg-color:var(--dark-skill-bg-color);
    --debug-border-color: rgba(255, 255, 255, 0.461);
    --debug-border-width: 0px;
}

* {
    border: var(--debug-border-width) dotted var(--debug-border-color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p,a,header,li{
    color: var(--text-color);
    width: fit-content;
    height: fit-content;
}




#header-bar {
    z-index: 1;
    
    padding: 0 15px;

    background-color: var(--bg-color);

    display: flex;
    flex-direction: row;
    align-items: center;

    .filler {
        flex: 1;
    }
}



#header-bar,#header-bar-shadow {
    height: 55px;
    width: 100%;
    position: fixed;
}

#contact-bar {
    position: fixed;
    top: -4px;
    right: 0;
    height: 50px;
    width: fit-content;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0 10px;
    border-radius: 0 0 7px 7px;
 

    a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        img {
            opacity: .7;
            height: 33px;
            transition: opacity .2s ease-out;
            transition: height .2s ease-out;
        }
        img.github, img.mail {
            background-color: aliceblue;
            border-radius: 25px;
            border: 1px var(--text-color) solid;
        }
        img:hover {
            height: 40px;;
            opacity: 1;

            transition: opacity .2s ease-out;
            transition: height .2s ease-out;
        }
    }
    
    transition: top .2s ease-out;
}

#header-bar-shadow,#contact-bar {
    box-shadow: 0 -2px 8px 2px var(--text-color);
}


#title {
    font-size: 1.7rem;
    white-space: nowrap;
    text-decoration: none;

    &:hover {
        text-shadow: 0 0 3px var(--text-glow-color);
    }
}

#header-buttons-container {
    
    height: 100%;
    padding: 0 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: var(--bg-color);
    

    .header-button {
        --font-size: 1rem;
        white-space: nowrap;
        font-size: var(--font-size);
        height: 100%;
        padding: 0 10px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        text-decoration: none;

        &:hover {
            font-size: calc(var(--font-size) * 1.1);
            text-shadow: 0 0 4px var(--text-glow-color),0 0 14px var(--text-glow-color);
            box-shadow: inset 0 -4px 6px -4px var(--text-color);

            transition: font-size .2s ease-out;
        }
        transition: font-size .2s ease-out;
    }
}

#theme-button {
    background-image: url(./images/dark-light-theme-icon.png);
    background-size: 40px;
    background-color: rgba(255, 255, 255, 0);
    background-repeat: no-repeat;
    background-position: 50%;
    width:55px;
    height: 100%;
    rotate: 180deg;


    

    &:hover {
        background-size: 45px;
        transition: background-size .15s ease-out;
        transition: rotate .15s ease-out;
    }
    transition: rotate .15s ease-out;
    transition: background-size .15s ease-out;
}

#main-section {
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: fit-content;
    margin-bottom: 60px;

    header{
        font-size: 3rem;
        margin-bottom: 30px;
        font-weight: bold;
        text-shadow: 0 0 7px var(--text-glow-color);
    }
    p {
        width: 70%;
        text-align: center;
        line-height: 25px;
        font-size: 1.3rem;
        margin: 25px 0;
    }

    a {
        margin-bottom: 10px;
        font-size: 1.5rem;
        text-decoration: none;
        height: 30px;
        text-shadow: 0 0 5px var(--text-glow-color);
        border-bottom: 1px dotted var(--text-color);

        &:hover {
            text-shadow: 0 0 10px var(--text-glow-color);
            border-bottom: 2px dotted var(--text-color);
        }
    }

    section {
        width: fit-content;
        margin-bottom: 30px;

        header {
            font-size: 2rem;
            text-shadow: 0 0 0px var(--text-glow-color);
        }
    }
}

section#about-me {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: fit-content;
    height: fit-content;
    margin-bottom: 60px;
    gap: 85px;

    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        
        img {
            border-radius: 5px;
            box-shadow: 0 0 10px var(--text-color);
        }
    }

    figcaption {
        white-space: nowrap;
        font-size: 1.5rem;
        margin-bottom: 10px;
        font-weight: bold;
        text-shadow: 0 0 7px var(--text-glow-color);
        color: var(--text-color);
    }

    a {
        margin-top: 15px;
    }

    header {
        margin-bottom: 10px;
    }

    p {
        width: 700px;
    }

    div {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#minesweeper {
    width: 100%;
}

.medias-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap:50px;
    height: 500px;
    margin-bottom: 15px;
}


.media-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
    color: var(--text-color);
    font-size: 1.25rem;
    height: 100%;

    caption {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .portrait {
        aspect-ratio: 9/16;
        height: 100%;
    }

    .video {
        aspect-ratio: 16/9;
        height: 100%;
    }

    img, video {
        height: 100%;
    }

    img,video,.video, .portrait{
        border-radius: 5px;
        box-shadow: 0 0 5px var(--text-color);
    }
}

#education {
    display: flex;
    flex-direction: column;
    
    section {
        margin-bottom: 30px;
    }
}

#skills-container,#certs-container,#courses-container {
    width: 800px;
}

#skills-list,#certs-list,#courses-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

}

.skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

#skills-list li,#certs-list li,#courses-list li{
    --font-size: 1rem;
    font-size: var(--font-size);
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px var(--text-color) solid;
    background-color: var(--skill-bg-color);
    
    white-space: nowrap;

    &:hover {
        z-index: 1;
        font-size: calc(var(--font-size) * 1.1);
        box-shadow: 0 0 15px var(--text-glow-color), inset 0 0 7px var(--text-color);

        transition: font-size .2s ease-out;
    }
    transition: font-size .2s ease-out;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    gap: 10px;
    padding: 0 0 10px 0;

    #contact-buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 50px;
        width: 300px;
        gap: 20px;

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;

            img {
                height: 50px;
                opacity: 50%;
                transition: height .2s ease-out;
            }
            img.github, img.mail {
                background-color: aliceblue;
                border-radius: 25px;
                border: 1px var(--text-color) solid;
            }
            img:hover {
                z-index: 1;
                height: 55px;
                opacity: 100%;
                transition: height .2s ease-out;
            }
            img.youtube {
                height: 80%;

                &:hover {
                    height: 90%;
                    transition: height .2s ease-out;
                }
            }
            img.mail {
                height: 50px;

                &:hover {
                    height: 55px;
                    transition: height .2s ease-out;
                }
            }
            
            
        }
    }
}
