:root {
    --dark-bg-color: black;
    --bg-color: var(--dark-bg-color);
    --debug-border-color: rgba(255, 255, 255, 0.461);
    --debug-border-width: 0px;
    --dark-text-color: white;
    --text-color: var(--dark-text-color);
    --dark-text-glow-color: rgb(154, 255, 240);
    --text-glow-color:var(--dark-text-glow-color);
}

* {
    border: var(--debug-border-width) dotted var(--debug-border-color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p,a,header,li{
    color: var(--text-color);
    width: fit-content;
    height: fit-content;
}




#header-bar {
    z-index: 1;
    
    padding: 0 15px;

    background-color: var(--bg-color);

    display: flex;
    flex-direction: row;
    align-items: center;

    .filler {
        width: 100%;

    }
}

#header-bar,#header-bar-shadow {
    height: 50px;
    width: 100%;
    position: fixed;
}

#contact-bar {
    position: fixed;
    top: -4px;
    right: 0;
    height: 50px;
    background-color: var(--bg-color);


    
    transition: top .25s ease-out;
}

#header-bar-shadow,#contact-bar {
    box-shadow: 0 -2px 8px 2px var(--text-color);
}


#title {
    font-size: 1.5rem;
    white-space: nowrap;
}

#header-buttons-container {
    
    height: 100%;
    padding: 0 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: var(--bg-color);
    

    .header-button {
        --font-size: 1rem;
        white-space: nowrap;
        font-size: var(--font-size);
        height: 100%;
        padding: 0 10px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        text-decoration: none;

        &:hover {
            font-size: calc(var(--font-size) * 1.1);
            text-shadow: 0 0 4px var(--text-glow-color),0 0 14px var(--text-glow-color);
            box-shadow: inset 0 -4px 6px -4px var(--text-color);

            transition: font-size .2s ease-out;
        }
        transition: font-size .2s ease-out;
    }
}

#main-section {
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;

    header{
        font-size: 2rem;
        margin-bottom: 20px;
    }
    p {
        width: 70%;
        text-align: center;
        line-height: 23px;
    }

    a {
        margin-bottom: 10px;
    }

    section {
        width: 100%;

        header {
            font-size: 1rem;
        }
    }
}

.medias-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap:50px;
    height: 500px;
    margin-bottom: 15px;
}

.media-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: var(--text-color);
    height: 100%;

    .portrait {
        aspect-ratio: 9/16;
        height: 100%;
    }

    .video {
        aspect-ratio: 16/9;
        height: 100%;
    }

    img, video {
        height: 100%;
    }
}

#education {
    display: flex;
    flex-direction: column;
    
    section {
        margin-bottom: 30px;
    }
}

#skills-container,#certs-container,#courses-container {
    width: 800px;
}

#skills-list,#certs-list,#courses-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

}

.skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

#skills-list li,#certs-list li,#courses-list li{
    --font-size: 1rem;
    font-size: var(--font-size);
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px var(--text-color) solid;
    background-color: var(--bg-color);
    
    white-space: nowrap;

    &:hover {
        z-index: 1;
        font-size: calc(var(--font-size) * 1.1);
        font-weight: bold;

        transition: font-size .2s ease-out;
    }
    transition: font-size .2s ease-out;
}


#footer {
    height: 25px;
}
